# Drills

Let's confirm some of this new knowledge with a few basic exercises. Write SQL queries to return:

The IDs and durations for all trips of duration greater than 500, ordered by duration.

Every column of the stations table for station id 84.

The min temperatures of all the occurrences of rain in zip 94301.

1)  SELECT trip_id, cast(duration as INT) duration_int
FROM trips
ORDER BY duration_int DESC
LIMIT 5

2)	SELECT *
FROM stations
WHERE station_id = 84

3)	SELECT Date
FROM weather
WHERE Events = 'Rain'
AND ZIP = 94301
ORDER BY 1